<div class="container mt-3">
  <h1>
    {{ heroe.id ? "Editar" : "Nuevo" }}
    Héroe
    <small>{{ heroe.superhero }}</small>
  </h1>
  <div class="row mt-2">
    <div class="col-md-6 col-sm-12 mt-2">
      <div class="row">
        <div class="col-md-6 col-sm-12">
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Super Héroe</mat-label>
            <input
              matInput
              type="text"
              required
              [(ngModel)]="heroe.superhero"
            />
          </mat-form-field>
        </div>
        <div class="col-md-6 col-sm-12">
          <mat-form-field appearance="fill" class="col-12">
            <mat-label>Alter Ego</mat-label>
            <input
              matInput
              type="text"
              required
              [(ngModel)]="heroe.alter_ego"
            />
          </mat-form-field>
        </div>
      </div>

      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Primera Aparición</mat-label>
        <input
          matInput
          type="text"
          required
          [(ngModel)]="heroe.first_appearance"
        />
      </mat-form-field>
      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Personajes</mat-label>
        <input matInput type="text" required [(ngModel)]="heroe.characters" />
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Creador</mat-label>
        <mat-select [(ngModel)]="heroe.publisher" required>
          <mat-option
            *ngFor="let publisher of publishers"
            [value]="publisher.id"
          >
            {{ publisher.desc }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="fill" class="col-12">
        <mat-label>Foto Url</mat-label>
        <input matInput type="url" required [(ngModel)]="heroe.alt_img" />
      </mat-form-field>

      <br />

      <div class="row">
        <div class="col-md-6 col-sm-12">
          <button
            mat-raised-button
            color="primary"
            (click)="guardar()"
            class="col-12"
          >
            <mat-icon>save_as</mat-icon>{{ heroe.id ? "Actualizar" : "Crear" }}
          </button>
        </div>
        <div class="col-md-6 col-sm-12" *ngIf="heroe.id">
          <button
            mat-raised-button
            color="warn"
            class="col-12"
            (click)="borrar()"
          >
            <mat-icon>delete</mat-icon>Borrar
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6 col-sm-12 mt-2">
      <img [src]="heroe | imagen" />
    </div>
  </div>
</div>
