<div class="container text-center mt-3">
  <div class="text-white">
    <h1>¿Está seguro?</h1>
    <hr />
    <p>
      Esátá a punto de borrar a {{ data.superhero }} <br />
      ¿Desea Continuar?
    </p>
  </div>

  <div class="row">
    <div class="col-6">
      <button mat-raised-button color="primary" (click)="borrar()">
        Si, borrar!
      </button>
    </div>
    <div class="col-6">
      <button mat-raised-button color="warn" (click)="cancelar()">
        Cancelar
      </button>
    </div>
  </div>
</div>
